<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Inicio</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link href="vendor/aos/aos.css" rel="stylesheet" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="stylesheets/style.css" rel="stylesheet" />

    <!-- =======================================================
* Template Name: Arsha - v4.7.1
* Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->
  </head>

  <body>
    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container p-5">
          <h2>Registrar Administrador</h2>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <section class="inner-page">
        <div class="container d-flex flex-row justify-content-center">
          <form action="usuarios" method="post">
            <div class="form-group mb-3 form-responsive">
              <label for="nombres" class="my-2">Nombres</label>
              <input
                type="text"
                class="form-control"
                id="nombres"
                name="nombres"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group mb-3">
              <label for="apellidos" class="my-2">Apellidos</label>
              <input
                type="text"
                class="form-control"
                id="apellidos"
                name="apellidos"
              />
            </div>
            <div class="form-group mb-3">
              <label for="fecha_nacimiento" class="my-2"
                >Fecha Nacimiento</label
              >
              <input
                type="date"
                class="form-control"
                id="fecha_nacimiento"
                name="fecha_nacimiento"
              />
            </div>
            <div class="form-group mb-3">
              <label for="correo" class="my-2">Correo</label>
              <input
                type="email"
                class="form-control"
                id="correo"
                name="correo"
              />
            </div>
            <div class="form-group mb-3">
              <label for="ubicacion" class="my-2 d-none">Ubicacion</label>
              <input
                type="text"
                class="form-control d-none"
                id="ubicacion"
                name="ubicacion"
                value="1001"
                placeholder="Contraseña"
              />
            </div>
            <div class="form-group mb-3">
              <label for="clave" class="my-2">Celular</label>
              <input
                type="text"
                class="form-control"
                id="celular"
                name="celular"
              />
            </div>
            <div class="form-group mb-3">
              <label for="cedula" class="my-2">Cedula</label>
              <input
                type="text"
                class="form-control"
                id="cedula"
                name="cedula"
              />
            </div>
            <div class="form-group mb-3">
              <label for="rol" class="my-2 d-none">Rol</label>
              <input
                type="text"
                class="form-control d-none"
                id="rol"
                name="rol"
                value="administrador"
                placeholder="Contraseña"
              />
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <script src="javascripts/main.js"></script>
  </body>
</html>
